
{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Usted a recibido un email para restablecer su contraseña de su cuenta en Zona 0.{% endblocktranslate %}
{% translate " " %}
{% translate "Introduzca los siguientes datos en el formulario de recuperacion de contraseña" %}
{% translate " " %}
{% translate "Código: " %} {{token}}
{% translate " " %}
{% translate "Id_solicitud: " %} {{uid}}

{% translate "Por favor, acceda al enlace siguiente y establezca una nueva contraseña completando los datos en caso que desee acceder a la web." %}
{% block reset_link %}
{{link}}
{% comment %} {{link}}{{token}}&uid={{uid}} {% endcomment %}
{% endblock %}
{% translate 'Su nombre de usuario, en caso de que lo haya olvidado:' %} {{ user.get_username }}

{% translate "Gracias por usar nuestro sitio" %}

{% blocktranslate %}El equipo de Zona 0 siempre a su disposición{% endblocktranslate %}

{% endautoescape %}
